{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/about_contact.css' %}">
{% endblock %}

{% block page_header %}
{% with active_page='about' %}
{{ block.super }}
{% endwith %}
{% endblock %}


{% block content %}
<div class="container mt-5 mb-6 text-center">
  <h1>Meet the team</h1>
</div>

<div class="container mt-5">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4 move-card-down">
    <!-- Team member 1 -->
    <div class="col">
      <div class="card">
        <!-- Card content for team member 1 -->
        <img src="{% static '/images/ava1.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Name 1</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore repellat...</p>
        </div>
      </div>
    </div>

    <!-- Team member 2 -->
    <div class="col">
      <div class="card">
        <!-- Card content for team member 2 -->
        <img src="{% static '/images/ava1.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Name 2</h5>
          <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates tempora ut...</p>
        </div>
      </div>
    </div>

    <!-- Team member 3 -->
    <div class="col">
      <div class="card">
        <!-- Card content for team member 3 -->
        <img src="{% static '/images/ava1.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Name 3</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit aperiam recusandae...</p>
        </div>
      </div>
    </div>

    <!-- Repeat the structure for additional team members -->
    <!-- Team member 4 -->
    <div class="col">
      <div class="card">
        <!-- Card content for team member 3 -->
        <img src="{% static '/images/ava1.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Name 3</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit aperiam recusandae...</p>
        </div>
      </div>
    </div>

    <!-- Team member 5 -->
    <div class="col">
      <div class="card">
        <!-- Card content for team member 3 -->
        <img src="{% static '/images/ava1.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Name 3</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit aperiam recusandae...</p>
        </div>
      </div>
    </div>

    <!-- Team member 6 -->
    <div class="col">
      <div class="card">
        <img src="{% static '/images/ava1.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Name 3</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit aperiam recusandae...</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}