{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/about_contact.css' %}">
{% endblock %}

{% block page_header %}
{% with active_page='about' %}
{{ block.super }}
{% endwith %}
{% endblock %}


{% block content %}

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card">
      <img src="{% static '/images/ava1.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Name</h5>
        <p class="card-text">About</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="{% static '/images/ava1.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Name</h5>
        <p class="card-text">About</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="{% static '/images/ava1.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Name</h5>
        <p class="card-text">About</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="{% static '/images/ava1.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Name</h5>
        <p class="card-text">About</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="{% static '/images/ava1.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Name</h5>
        <p class="card-text">About</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="{% static '/images/ava1.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Name</h5>
        <p class="card-text">About</p>
      </div>
    </div>
  </div>
  <!-- Repeat the above structure for each card you want to display -->
</div>

{% comment %} <main>
    <link rel="stylesheet" href="static/css/style_2.css">
    <div class="responsive-container-block outer-container">
        <div class="responsive-container-block inner-container">
          <p class="text-blk section-head-text">
            Meet Our Team 
          </p>
          <p class="text-blk section-subhead-text">
            Cupid draw back your bow, and let your arrow flow. Straight to my lover's heart for me, nobody but me!
          </p>
          <div class="responsive-container-block">
            <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
              <div class="team-card">
                <div class="img-wrapper">
                  <img class="team-img" src="static/images/vc_githubprofile.webp">
                </div>
                <p class="text-blk name">
                    Vernell C.
                </p>
                <p class="text-blk position">
                    Full Stack Software Developer
                </p>
                <div class="social-media-links">
                  <a href="http://www.twitter.com/" target="_blank">
                    <i class="fa-brands fa-linkedin"></i>
                  </a>
                  <a href="http://www.facebook.com/" target="_blank">
                    <i class="fa-brands fa-github"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
              <div class="team-card">
                <div class="img-wrapper">
                  <img class="team-img" src="static/images/avatar-3814049_1280.png">
                </div>
                <p class="text-blk name">
                    Michelle Mattera
                </p>
                <p class="text-blk position">
                    Full Stack Software Developer
                </p>
                <div class="social-media-links">
                  <a href="http://www.twitter.com/" target="_blank">
                    <i class="fa-brands fa-linkedin"></i>
                  </a>
                  <a href="http://www.facebook.com/" target="_blank">
                    <i class="fa-brands fa-github"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
              <div class="team-card">
                <div class="img-wrapper">
                  <img class="team-img" src="static/images/my_avatar.jpeg">
                </div>
                <p class="text-blk name">
                  Fernando Gonçalves 
                </p>
                <p class="text-blk position">
                    Full Stack Software Developer
                </p>
                <div class="social-media-links">
                  <a href="http://www.twitter.com/" target="_blank">
                    <i class="fa-brands fa-linkedin"></i>
                  </a>
                  <a href="http://www.facebook.com/" target="_blank">
                    <i class="fa-brands fa-github"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
              <div class="team-card">
                <div class="img-wrapper">
                  <img class="team-img" src="static/images/avatar-3814049_1280.png">
                </div>
                <p class="text-blk name">
                    Yousef Al-Mesaseed
                </p>
                <p class="text-blk position">
                    Full Stack Software Developer
                </p>
                <div class="social-media-links">
                  <a href="http://www.twitter.com/" target="_blank">
                    <i class="fa-brands fa-linkedin"></i>
                  </a>
                  <a href="http://www.facebook.com/" target="_blank">
                    <i class="fa-brands fa-github"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
                <div class="team-card">
                  <div class="img-wrapper">
                    <img class="team-img" src="static/images/avatar-3814049_1280.png">
                  </div>
                  <p class="text-blk name">
                    Sam O'Brien-Olinger
                  </p>
                  <p class="text-blk position">
                      Full Stack Software Developer
                  </p>
                  <div class="social-media-links">
                    <a href="http://www.twitter.com/" target="_blank">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                    <a href="http://www.facebook.com/" target="_blank">
                        <i class="fa-brands fa-github"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
                <div class="team-card">
                  <div class="img-wrapper">
                    <img class="team-img" src="static/images/avatar-3814049_1280.png">
                  </div>
                  <p class="text-blk name">
                    Bekry
                  </p>
                  <p class="text-blk position">
                      Full Stack Software Developer
                  </p>
                  <div class="social-media-links">
                    <a href="http://www.twitter.com/" target="_blank">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                    <a href="http://www.facebook.com/" target="_blank">
                        <i class="fa-brands fa-github"></i>
                    </a>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
</main>
<script src="https://kit.fontawesome.com/049d55f482.js" crossorigin="anonymous"></script> {% endcomment %}




{% endblock %}