{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <style>
        #map { width: 100%; height: 500px; }
    </style>
{% endblock %}

{% block content %}

<div id="map" style="width: 100%; height: 500px;"></div>
<div id="countdownTimer"></div>
<form id="locationsForm">
  My Location:<br> <input type="text" id="location_one" name="location_one"><br>
  Partner's Location:<br> <input type="text" id="location_two" name="location_two"><br>
  Date of Meeting:<br> <input type="datetime-local" id="datetime_field" name="datetime_field"><br>
  <input type="submit" value="Submit">
</form>

{% endblock %}

{% block extra_js %}
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="{% static 'home/js/script.js' %}"></script> 
{% endblock %}