{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/profile.css' %}">
{% endblock %}


{% block page_header %}
{% with active_page='profile' %}
{{ block.super }}
{% endwith %}
{% endblock %}

{% block content %}
<div class="container profile-form ">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow-lg p-5">
        <h1 class="display-4 text-danger text-center pb-3"> Create your profile </h1>
        <form method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="name_one" class="form-label">Your Name <span class="text-danger">*</span></label>
            {{ form.name_one }}
          </div>
          <div class="form-group">
            <label for="name_two" class="form-label">Partner's Name <span class="text-danger">*</span></label>
            {{ form.name_two }}
          </div>
          <div class="form-group">
            <label for="location_one" class="form-label">Your Location <span class="text-danger">*</span></label>
            {{ form.location_one }}
          </div>
          <div class="form-group">
            <label for="location_two" class="form-label">Partner's Location <span class="text-danger">*</span></label>
            {{ form.location_two }}
          </div>
          <div class="form-group">
            <label for="status" class="form-label">Status</label>
            {{ form.status }}
          </div>
          <div class="form-group">
            <label for="datetime_field" class="form-label">Next Meeting Date/Time <span class="text-danger">*</span></label>
            {{ form.datetime_field }}
          </div>
          
          
          <button type="submit" class="btn btn-success">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}