{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/profile_view.css' %}">
{% endblock %}



{% block content %}
    {% if profile %}
        <div class="container mt-4">
            <h1>User Profile</h1>
            <div class="row">
                <div class="col-md-6">
                    <p><strong>Name One:</strong> {{ profile.name_one }}</p>
                    <p><strong>Name Two:</strong> {{ profile.name_two }}</p>
                </div>
                <div class="col-md-6">
                    <p><strong>Location One:</strong> {{ profile.location_one }}</p>
                    <p><strong>Location Two:</strong> {{ profile.location_two }}</p>
                </div>
            </div>
            <p class="mt-3"><strong>Status:</strong> {{ profile.status }}</p>
            <p><strong>Date and Time:</strong> {{ profile.datetime_field }}</p>
        </div>
        <div>
            <a href="{% url 'edit_profile' %}">Edit</a>
        </div>
    {% else %}
        <p class="container mt-4">User profile not found.</p>
    {% endif %}
{% endblock %}