
body {
  min-height: 100vh; /* Ensure the body takes up at least the full height of the viewport */
  margin: 0; /* Remove default margin */
  display: flex;
  flex-direction: column;
}


@media (max-width: 767px) {
  .fixed-bottom-lg {
      position: relative !important;
  }
}

/* move this to somehere telse
 */
/* home
.home-container {
  margin: auto;
  width: 100%;
  height: 100%;
  padding: 70px 0;
}

.icons-container {
  padding: 20px 0;
  background-color: darkseagreen;
}

.icons {
	position: relative;
	height: 10.2rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.gift-icon {
  position: relative;
	height: 15.2rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* .text-center {
	display: flex;
  justify-content: center;
  align-items: center;
} */

/* Sign Up */
/* .form-card {
  background-color: rgb(228, 212, 192);
}
.form-container {
  height: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-login-container {
  height: 100%;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-img-container {
  height: 100%;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-image img {
  width: 50%;
  height: 60%;
}

.img-fluid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.signup-image {
  position: relative;
  overflow: hidden; 
  background-color: antiquewhite;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0s linear 0.3s;
}

.signup-image:hover .overlay {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.img-text {
  color: white;
  font-size: 18px;
  text-align: center;
} */ 