{% extends "account/base.html" %}
{% load static %}
]

{% load i18n %}
{% load account socialaccount %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}


{% block content %}


<h1 class="text-center mt-5">{% trans "Sign In" %}</h1>
{% get_providers as socialaccount_providers %}
<div class="row justify-content-center mt-5">
  <div class="col-md-6">
    <div class="card bg-light">
      <div class="card-body">
        {% if socialaccount_providers %}
        <p class="mb-4">{% blocktrans with site.name as site_name %}Please sign in with one
          of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
          for a {{ site_name }} account and sign in below.{% endblocktrans %}</p>
        <div class="socialaccount_ballot">
          <ul class="socialaccount_providers">
            {% include "socialaccount/snippets/provider_list.html" with process="login" %}
          </ul>
          <div class="login-or text-center mb-3">{% trans 'or' %}</div>
        </div>
        {% include "socialaccount/snippets/login_extra.html" %}
        {% else %}
        <p class="mb-4">{% blocktrans %}If you have not created an account yet, then please
          <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}
        </p>
        {% endif %}
        <form class="login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          {{ form.as_p }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <a class="btn btn-link" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
          <button class="btn btn-success" type="submit">{% trans "Sign In" %}</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-4 ml-md-4 mt-md-0 mt-4">
    <div class="card">
      <div class="card-body">
        <img src="{% static '/images/red-heart.png' %}" alt="map" class="img-fluid" loading="lazy"
          style="height: 180px; width: 320px;" />
        <div class="text-center mt-3">
          <div>Where is your love located?</div>
        </div>
      </div>
      <div class="card-body">
        <img src="{% static '/images/heart-clock.png' %}" alt="map" class="img-fluid" loading="lazy"
          style="height: 180px; width: 320px;" />
        <div class="overlay">
          <div>When are you going to see each other?</div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}