{% extends "account/base.html" %}
{% load static %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<h1>{% trans "Sign Up" %}</h1>

<div class="row">
  <div class="col-sm-6 form-container">
    <div class="card form-card">
      <div class="card-body">
        <p class="">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.
          {% endblocktrans %}</p>
        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}
          {{ form.as_p }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button type="submit">{% trans "Sign Up" %} &raquo;</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-sm-6 form-img-container">
    <div class="card image-container">
      <div class="card-body signup-image">
        <img src="{% static '/images/red-heart.png' %}" alt="map" class="img-fluid" loading="lazy" />
        <div class="overlay">
          <div class="img-text">Where is Your Love Located.</div>
        </div>
      </div>
      <div class="card-body signup-image">
        <img src="{% static '/images/heart-clock.png' %}" alt="map" class="img-fluid" loading="lazy" />
        <div class="overlay">
          <div class="img-text">When Your Going See Each Other.</div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}